p.textborder{
	color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
h1.textborder{
	color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
button.textborder{
	color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
button.background{
	background-color: #222222;
}
#footer{
	position:fixed;
	bottom:0;
}