li{
	font-size:20px;
	display: hidden;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:35px;
   width:100%;
   text-align:center;
   background:#222223;
}

#micbtn{
bottom:35px;
   width: 50px;
   height: 50px;
}

#chatbox{
	margin: 10px 13px 10px;
}


#title{
	font-size:20px;
	text-align:center;
}

.ui-page, .ui-content, .ui-btn {
	background: transparent !important;
}
body {
    background-attachment:fixed;
	background-image:url('../img/roseBlurred.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
}
#page-title{
	margin: 3px;
}
#about-view{
	background-color:#222222;
	width: 660px;
	position: relative;
	margin:0 auto;
	line-height: 1.4em;
}
/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */    
@media only screen and (max-width: 799px){
    #aboutview { width: 80%; }
}